# sensor顺序请按照MIPI、DVP排列
[sensor profile]
sensors=sc3336, sc3335, gc2053, sc2332, sc2336

[sc3336]
i2c_slave_addr = 0x30
i2c_clock_name = cgu_cim
i2c_clock_rate = 24000000
i2c_reg_part_num = 2
i2c_addr_len = 2
i2c_val_len = 1
i2c_reg_1_addr = 0x3107
i2c_reg_2_addr = 0x3108
i2c_reg_1_val = 0xcc
i2c_reg_2_val = 0x41
sensor_ko_name = sensor_sc3336_t31.ko

[sc3335]
i2c_slave_addr = 0x30
i2c_clock_name = cgu_cim
i2c_clock_rate = 24000000
i2c_reg_part_num = 2
i2c_addr_len = 2
i2c_val_len = 1
i2c_reg_1_addr = 0x3107
i2c_reg_2_addr = 0x3108
i2c_reg_1_val = 0xcc
i2c_reg_2_val = 0x1a
sensor_ko_name = sensor_sc3335_t31.ko

[gc2053]
i2c_slave_addr = 0x37
i2c_clock_name = cgu_cim
i2c_clock_rate = 24000000
i2c_reg_part_num = 2
i2c_addr_len = 1
i2c_val_len = 1
i2c_reg_1_addr = 0xf0
i2c_reg_2_addr = 0xf1
i2c_reg_1_val = 0x20
i2c_reg_2_val = 0x53
sensor_ko_name = sensor_gc2053_t31.ko

[sc2332]
i2c_slave_addr = 0x30
i2c_clock_name = cgu_cim
i2c_clock_rate = 24000000
i2c_reg_part_num = 2
i2c_addr_len = 2
i2c_val_len = 1
i2c_reg_1_addr = 0x3107
i2c_reg_2_addr = 0x3108
i2c_reg_1_val = 0xcb
i2c_reg_2_val = 0x17
sensor_ko_name = sensor_sc2332_t31.ko

[sc2336]
i2c_slave_addr = 0x30
i2c_clock_name = cgu_cim
i2c_clock_rate = 24000000
i2c_reg_part_num = 2
i2c_addr_len = 2
i2c_val_len = 1
i2c_reg_1_addr = 0x3107
i2c_reg_2_addr = 0x3108
i2c_reg_1_val = 0xcb
i2c_reg_2_val = 0x3a
sensor_ko_name = sensor_sc2336_t31.ko