{
	"dn_params":{
		"basic_params":{
			"led_cnt":1,
			"with_ldr":0,
			"ir_cut_gpio_num":57,
			"ir_led_gpio_num":999,
			"ir_delay":5,
			"natural_rate_thresh":0.08,
			"day_ae_antiflicker_enable":1,
			"day_ae_antiflicker_freq":50,
			"night_ae_compensation":0,
			"night_ae_antiflicker_enable":0,
			"night_drc_asymmetry_ctl":0,
			"day_auto_wdr_level":40,
			"night_auto_wdr_level":40,
			"smartir_enable":0,
			"smartir_level":30,
			"gain_I_blue":0.989534,
			"gain_I_red":0.974310,
			"gain_N_blue":1.418945,
			"gain_N_red":1.126953,
			"gain_ref_red":1681,
			"gain_ref_blue":1501,
			"ae_gain_level":[0,2,4,8,16,32,64,128],
			"night_drc_asymmetry":[0,0,0,0,0,5,15,0],
			"day_ae_compensation":[0,0,0,0,0,0,0,0],
			"day_drc_asymmetry":[20,17,14,11,8,4,0,0],
			"thresh_night_ae_gain":[256,512,1024,2048,4096,6144,8192,16384],
			"thresh_no_adc":[1500,1200,900,630,440,160,60,20],
			"area2illumin_factor_r":0.398,
			"area2illumin_factor_g":1.833,
			"area2illumin_factor_b":-0.123,
			"Rgain_static":1681,
			"Bgain_static":1501,
			"irlight_rg_min":256,
			"irlight_rg_max":294,
			"irlight_bg_min":230,
			"irlight_bg_max":282,
			"day_illumin_factor":1,
			"night_illumin_factor":5,
			"dn_switch_version":"IR"
		},
		"day":{
				"irt_comm":[3581,2750,2915,2471,2750,1583,1361,806],
				"irt_ncomm":2750,
		},
		"night":{
				"irt_comm":[1357,640,940,731,640,419,315,210],
				"irt_ncomm":640,
		}
	},
	"autofps_profile":{
		"basic_params":{
			"fps":[458852,131097,0],
			"up_thresh":[0,120000,0],
			"down_thresh":[136272,0,0],
		}
	},
	"scaler_config":{
		"main":{
			"enabled":0,
			"channel":0,
			"method":0,
			"level":0,
		},
		"minor":{
			"enabled":1,
			"channel":1,
			"method":1,
			"level":16,
		}
	},
	"isp_config":{
		"venc_params_cbr_h264":{
			"iInitialQP":-1,
			"iMinQP":15,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.33,
		},
		"venc_params_cbr_h265":{
			"iInitialQP":-1,
			"iMinQP":15,
			"iMaxQP":51,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.33,
		},
		"venc_params_vbr_h264_low":{
			"iInitialQP":-1,
			"iMinQP":35,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.50,
			"dMaxRateRatio":1.50,
			"uMaxPSNR":48,
		},
		"venc_params_vbr_h264_mid":{
			"iInitialQP":-1,
			"iMinQP":30,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.50,
			"dMaxRateRatio":1.50,
			"uMaxPSNR":48,
		},
		"venc_params_vbr_h264_high":{
			"iInitialQP":-1,
			"iMinQP":25,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.50,
			"dMaxRateRatio":1.50,
			"uMaxPSNR":48,
		},
		"venc_params_vbr_h265_low":{
			"iInitialQP":-1,
			"iMinQP":35,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.50,
			"dMaxRateRatio":1.50,
			"uMaxPSNR":48,
		},
		"venc_params_vbr_h265_mid":{
			"iInitialQP":-1,
			"iMinQP":30,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.50,
			"dMaxRateRatio":1.50,
			"uMaxPSNR":48,
		},
		"venc_params_vbr_h265_high":{
			"iInitialQP":-1,
			"iMinQP":25,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.50,
			"dMaxRateRatio":1.50,
			"uMaxPSNR":48,
		},
		"venc_params_avbr_h264_low":{
			"iInitialQP":-1,
			"iMinQP":35,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.50,
			"dMaxRateRatio":1.50,
			"uMaxPSNR":48,
		},
		"venc_params_avbr_h264_mid":{
			"iInitialQP":-1,
			"iMinQP":30,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.50,
			"dMaxRateRatio":1.50,
			"uMaxPSNR":48,
		},
		"venc_params_avbr_h264_high":{
			"iInitialQP":-1,
			"iMinQP":25,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.50,
			"dMaxRateRatio":1.50,
			"uMaxPSNR":48,
		},
		"venc_params_avbr_h265_low":{
			"iInitialQP":-1,
			"iMinQP":35,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.50,
			"dMaxRateRatio":1.50,
			"uMaxPSNR":48,
		},
		"venc_params_avbr_h265_mid":{
			"iInitialQP":-1,
			"iMinQP":30,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.50,
			"dMaxRateRatio":1.50,
			"uMaxPSNR":48,
		},
		"venc_params_avbr_h265_high":{
			"iInitialQP":-1,
			"iMinQP":25,
			"iMaxQP":48,
			"iIPDelta":-1,
			"iPBDelta":-1,
			"eRcOptions":1,
			"dMaxPicSizeRatio":1.50,
			"dMaxRateRatio":1.50,
			"uMaxPSNR":48,
		},
	},
	"image_profile":{
		"mr_attr":{
			"mr_enable":1,
			"mirror_type":"off",
			"rotate_type":"off",
		},
		"csc_range":{
			"luma_range":[102,128,153],
			"contrast_range_day":[115,128,140],
			"contrast_range_night":[115,128,140],
			"contrast_range_wtl":[115,128,140],
			"sat_range":[0,128,153],
			"sat_range_wtl":[0,128,153],
		},
		"sharpness_para":{
			"sharpness_range":[0,128,166],
		},
		"ae_gain_range":{
			"sensor_gain_range_day":[0,160],
			"sensor_gain_range_night":[0,160],
			"sensor_gain_range_wtl":[0,160],
			"isp_gain_range_day":[0,64],
			"isp_gain_range_night":[0,64],
			"isp_gain_range_wtl":[0,64],
			"max_shutter":[80000,80000,80000],
		},
		"ae_winwgt":{
			"def_ae_winwgt_day":[
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
				1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1,
				1, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 1,
				1, 2, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 2, 1,
				1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 4, 3, 2, 1,
				1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 5, 4, 3, 2, 1,
				1, 2, 3, 4, 5, 6, 7, 7, 7, 6, 5, 4, 3, 2, 1,
				1, 2, 3, 4, 5, 6, 7, 8, 7, 6, 5, 4, 3, 2, 1,
				1, 2, 3, 4, 5, 6, 7, 7, 7, 6, 5, 4, 3, 2, 1,
				1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 5, 4, 3, 2, 1,
				1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 4, 3, 2, 1,
				1, 2, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 2, 1,
				1, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 1,
				1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1,
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
			],
			"def_ae_winwgt_night":[
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
				1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1,
				1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1,
				1, 1, 1, 1, 2, 2, 6, 6, 6, 2, 2, 1, 1, 1, 1,
				1, 1, 1, 1, 2, 2, 6, 6, 6, 2, 2, 1, 1, 1, 1,
				1, 1, 1, 1, 2, 2, 8, 8, 8, 2, 2, 1, 1, 1, 1,
				1, 1, 1, 1, 2, 2, 8, 8, 8, 2, 2, 1, 1, 1, 1,
				1, 1, 1, 1, 2, 2, 6, 6, 6, 2, 2, 1, 1, 1, 1,
				1, 1, 1, 1, 2, 2, 6, 6, 6, 2, 2, 1, 1, 1, 1,
				1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1,
				1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1,
			],
			"def_ae_winwgt_wtl":[
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
				1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1,
				1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1,
				1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1,
				1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1,
				1, 1, 1, 1, 3, 3, 5, 5, 5, 3, 3, 1, 1, 1, 1,
				1, 1, 1, 1, 3, 3, 5, 5, 5, 3, 3, 1, 1, 1, 1,
				1, 1, 1, 1, 3, 3, 8, 8, 8, 3, 3, 1, 1, 1, 1,
				1, 1, 1, 1, 3, 3, 5, 5, 5, 3, 3, 1, 1, 1, 1,
				1, 1, 1, 1, 3, 3, 5, 5, 5, 3, 3, 1, 1, 1, 1,
				1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1,
				1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1,
			],
			"top_ae_winwgt":[
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
			],
			"btm_ae_winwgt":[
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
				8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,
			],
			"mid_ae_winwgt":[
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,8,8,8,8,8,8,8,0,0,0,0,
				0,0,0,0,8,8,8,8,8,8,8,0,0,0,0,
				0,0,0,0,8,8,8,8,8,8,8,0,0,0,0,
				0,0,0,0,8,8,8,8,8,8,8,0,0,0,0,
				0,0,0,0,8,8,8,8,8,8,8,0,0,0,0,
				0,0,0,0,8,8,8,8,8,8,8,0,0,0,0,
				0,0,0,0,8,8,8,8,8,8,8,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
				0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
			],
			"left_ae_winwgt":[
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
				8,8,8,8,8,8,8,8,0,0,0,0,0,0,0,
			],
			"right_ae_winwgt":[
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
				0,0,0,0,0,0,0,8,8,8,8,8,8,8,8,
			],
		},
		"custom_exposure_level_attr":{
			"custom_day_ae_comp_level":[0,42,85,128,170,212,255],
			"custom_night_ae_comp_level":[0,42,85,128,170,212,255],
			"custom_wtl_ae_comp_level":[0,42,85,128,170,212,255],
		},
		"hld_para":{
			"strength":1,
		},
		"wdr_para":{
			"wdr_enable":1,
			"wdr_strength":[0,128,255],
			"wdr_strength_def":128,
		},
		"wb_para":{
			"rgain_offset_range":[0,1024,2048],
			"bgain_offset_range":[0,1024,2048],
			"rgain_lcd":489,
			"bgain_lcd":344,
			"rgain_nature":445,
			"bgain_nature":394,
			"rgain_incand":327,
			"bgain_incand":524,
			"rgain_warm":374,
			"bgain_warm":434,
		},
		"ir_gpio_attr":{
			"ir_cut_gpio_port":999,
			"ir_led_gpio_port":49,
			"wl_led_gpio_port":50,
			"ir_led_pwm_port":999,
			"wl_led_pwm_port":999,
			"ir_cut_double_gpio_ports":[57,58],
		},
		"adc_attr":{
			"ir_adc_voltage_gpio_port":0,
			"voltage_thresh":[169257,103612],
			"sample_times":60,
			"sample_delay":1,
			"start_delay":10,
			"ir_duty_cycle":[90,50,5],
			"wl_duty_cycle":[100,50,5],
		},
		"smart_ir_para":{
			"pwm_control_interval":12,
			"exp_level_num":8,
			"exp_up_thresh":[10000,48000,160000,320000,520000,720000,900000,1000000],
			"exp_down_thresh":[10000,40000,120000,240000,400000,640000,800000,1000000],
			"pwm_duty":[
				90,90,90,90,90,90,90,90,
				90,90,90,90,90,90,90,90,
				90,90,90,90,90,90,90,90
			],
			"pwm_duty_offset_zone_compensation":[0,0,0,0,0,0,0,0],
		},
		"calibrated_params":{
				"cali_params_k_0": ["6.75701146e+03", "0.00000000e+00", "8.81202408e+02",
                    "0.00000000e+00", "5.59925915e+03", "5.66236156e+02",
                    "0.00000000e+00", "0.00000000e+00", "1.00000000e+00"],
				"cali_params_d_0": ["-1.39827581e+00", "-3.88137739e+01", "-3.68625301e-02", "4.80209717e-02", "0.00000000e+00"],
				"cali_params_k_1": ["6.75701146e+03", "0.00000000e+00", "8.81202408e+02",
                    "0.00000000e+00", "5.59925915e+03", "5.66236156e+02",
                    "0.00000000e+00", "0.00000000e+00", "1.00000000e+00"],
				"cali_params_d_1": ["-1.39827581e+00", "-3.88137739e+01", "-3.68625301e-02", "4.80209717e-02", "0.00000000e+00"],
		},
		"fov_info":{
			"h_fov":76,
			"v_fov":42,
			"d_fov":88
		}
	}
}
